<section>
  <div class="movie-banner">
    <a
      class="movie-banner"
      href="https://youtu.be/69ffwl-8pCU?si=LeEWs2uDJBCBFFO6"
    >
      <div
        class="banner-image"
        style="background-image: url('assets/images/banner/F1-Banner.png')"
      >
        <a routerLink="/movies/F1">
          <img
            class="movie-poster"
            src="https://m.media-amazon.com/images/M/MV5BNGI0MDI4NjEtOWU3ZS00ODQyLWFhYTgtNGYxM2ZkM2Q2YjE3XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
            alt="F1"
          />
        </a>
        <div class="movie-announcement">F1 | Coming in June 27</div>
      </div>
    </a>
  </div>
  <div class="mt-3">
    <div class="movie-header">
      <h2 style="color: white; font-weight: bold; margin-left: 50px">
        เรื่องที่แนะนำ
      </h2>
    </div>
    <div class="movie-container">
      <app-movies-card
        *ngFor="
          let movies of MoviesService.suggestionMovies;
          let i = index;
          let last = last
        "
        [movies]="movies"
      ></app-movies-card>
    </div>
  </div>
  <div class="mt-3 mb-5">
    <div class="movie-header">
      <h2 style="color: white; font-weight: bold; margin-left: 50px">มาแรง</h2>
    </div>
    <div class="movie-container">
      <app-movies-card
        *ngFor="
          let movies of MoviesService.newInThisMonth;
          let i = index;
          let last = last
        "
        [movies]="movies"
      ></app-movies-card>
    </div>
  </div>
</section>
