<section>
  <div class="d-flex vh-100 justify-content-center align-items-center">
    <div class="p-4" style="width: 420px">
      <div class="text-center mb-3">
        <img
          src="assets/logo/logo.png"
          alt="Logo"
          class="img-fluid"
          style="width: 80px"
        />
      </div>
      <h4 class="text-center mb-5">ลงชื่อเข้าใช้</h4>
      <form>
        <div class="mb-3 d-flex align-items-center">
          <label for="email" class="form-label me-2" style="width: 80px"
            >อีเมล</label
          >
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="กรอกอีเมลของคุณ"
          />
        </div>
        <div class="mb-5 d-flex align-items-center">
          <label for="password" class="form-label me-2" style="width: 80px"
            >รหัสผ่าน</label
          >
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="กรอกรหัสผ่านของคุณ"
          />
        </div>
        <button type="submit" class="btn btn-primary w-100" routerLink="/home">
          เข้าสู่ระบบ
        </button>
      </form>
      <div class="text-center mt-3">
        <p>หากยังไม่มีบัญชี? <a href="#">สมัครสมาชิก</a></p>
      </div>
    </div>
  </div>
</section>
