section {
  background-color: #3e3939;
  color: white;
  font-family: "LillyUPC";
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 10px 20px;
}

.header img {
  height: 40px;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.profile {
  background: #444;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: gray;
}

.movies {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.movies img {
  width: 150px;
  height: 220px;
  border-radius: 10px;
}
