<section>
  <div class="container">
    <div class="row">
      <!-- Profile Image Section -->
      <div class="col-md-3 d-flex flex-column align-items-center text-center">
        <img
          class="rounded-circle mt-4"
          width="200px"
          src="assets/images/profile/profile.png"
        />
      </div>

      <!-- User Info Section -->
      <div class="col-md-6">
        <div class="p-5">
          <div class="row">
            <div class="col-md-12">
              <label class="labels text-white">ชื่อผู้ใช้</label>
              <input type="text" class="form-control" value="สุดเท่ สุดหล่อ" />
            </div>
            <div class="col-md-12 mt-3">
              <label class="labels text-white">อีเมล</label>
              <input type="text" class="form-control" value="test@gmail.com" />
              <div class="col-md-12 mt-3">
                <a href="#" class="text-white">ออกจากระบบ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Favorite Movies Section -->
    <div class="mt-5 mb-5">
      <h3 class="text-white">รายการโปรด</h3>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <img
            src="https://i.etsystatic.com/51729090/r/il/4a8b9b/5991845025/il_570xN.5991845025_5u87.jpg"
            alt="Movie 1"
            width="200"
          />
          <img
            src="assets/poster/favorite/404.png"
            alt="Movie 2"
            width="200"
            class="mx-2"
          />
          <img
            src="assets/poster/suggestion/MIB.png"
            alt="Movie 3"
            width="200"
          />
          <img
            src="assets/poster/drama/titanic.png"
            alt="Movie 4"
            width="200"
            class="mx-2"
          />
          <img src="assets/poster/comedy/chick.png" alt="Movie 3" width="200" />
        </div>
        <div class="view-all text-white">
          <img src="assets/logo/arrow.png" width="150" />
          <i class="fas fa-arrow-right"></i><span>ดูทั้งหมด</span>
        </div>
      </div>
    </div>
  </div>
</section>
